.clearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.clearfix {display:inline-block;}
/* Hide from IE Mac \*/
	.clearfix {display:block;}
/* End hide from IE Mac */
	

/* defaults */
* {
  margin: 0;
  padding: 0;
}
 
html, body {
  height: 100%;
}
 
body {
  background: #446;
  font: 10px "Lucida Grande", Verdanda, helvetica, arial, clean, sans-serif;
  *font-size: small;
  text-align: center;
  color: #ddd;
}

ul {
  margin-left:30px
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}
 
h1 {
  margin: 0.5em 0 1em 0;
}
 
p {
  margin: 1em 0;
}
 
a {
  color: #ddd;
}
 
a:hover {
  color: black;
}
 
a:visited {
  color: #bbb;
}
a img {
  border: none;
}
table {
  font-size: inherit;
  font: 100%;
}
blockquote {
  font-style: italic;
  margin-left: 30px;
  color: #555;
  border: 1px dashed #555;
  padding: 0 15px;
}

/* site */
div.site {
   font-size: 150%;
   text-align: justify;
   width: 65em;
   margin: 3em auto;
   line-height: 1.5em;
   padding: 1em;
}

/* header */
.header {
   clear: both;
   margin-top: 2em;
   padding-top: 1em;
   border-top: 3px solid #777;
}
.header .title {
   font-weight: bold;
   margin-bottom: 0.7em;
   float: left;
   margin-right: 2em;
}

.header .title a, .post h1 a {
   color: white;
   font-size: 2.5em;
   text-decoration: none;
}

.header .title a
{
  font-size: 1.25em;
}

.header .title a:hover {
   color: black;
}

.header .menu {
  float: left;
  font-size: 115%;
}

.header .menu li {
   list-style-type: none;
   display: inline;
   margin-right: 0.3em;
}

.header .menu li a {
   color: #777;
   text-decoration: none;
}

.header .menu li a:hover {
  color: black;
}

/* posts */

.posts li {
   list-style-type: none;
}

/* footer */
.footer {
   clear: both;
}
.footer .contact {
   float: left;
}
.footer .rss {
   float: right;
}

.file {
   border: 1px solid #777;
}

.file .name {
   background-color: #aaa;
   padding: 0.7em;
   border-bottom: 1px solid #777;
   font-family: 
}

.file .text {
  padding: 0.7em;
}
