---
layout: default
title: Chris Parsons
---
{% assign post = site.posts.first %}
<div class='hero-unit'>
  <p>
    a blog by Chris Parsons
  </p>
  <h1>
    <a href='{{ post.url }}'>
      {{ post.title }}
    </a>
  </h1>
</div>
<hr>
<div class='row' id='post'>
  <div class='span8'>
    <article class='post single-post'>
      <div class='entry-content'>
        {{ post.content }}
        {% include kickstart.html %}
        <p>
          <a href='{{ site.posts.first.url }}#comments'>Click here</a>
          to comment.
        </p>
      </div>
    </article>
  </div>
  <div class='sidebar span4'>
    <p>
      Posted {{ post.date | date: "%B %d, %Y" }}
    </p>
    <div class='widget'>
      <h4>Share this</h4>
      {% include strap.html %}
    </div>
    <div class='widget'>
      {% include twitch.html %}
    </div>
    <div class='widget'>
      {% include kickstarter.html %}
    </div>
    <div class='widget'>
      <h4>Recent posts</h4>
      <ul class='list-style'>
        {% for post in site.posts %}
        {% if forloop.index < 7 and forloop.index > 1 %}<li><i class="icon-chevron-right"></i> <a href="{{ post.url }}">{{ post.title }}</a><br/><span class='muted'>{{ post.date | date_to_string }}</span></li>{% endif %}
        {% endfor %}
      </ul>
    </div>
    <div class='widget'>
      {% include cardpirates.html %}
    </div>
    <div class='widget'>
      <h4>Popular Categories</h4>
      <ul class='tags'>
      </ul>
    </div>
    <div class='widget'>
      <h4>More</h4>
      <ul class='list-style'>
        <li>
          <i class='icon-chevron-right'></i>
          <a href='/all'>Archives</a>
        </li>
        <li>
          <i class='icon-chevron-right'></i>
          <a href='/tags'>All Categories</a>
        </li>
      </ul>
    </div>
    <div class='widget'>
      {% include hello.html %}
    </div>
  </div>
</div>
