:plain
  ---
  layout: default
  title: Chris Parsons
  ---
  {% assign post = site.posts.first %}

.row
  .col-xs-12.page-header
    %p
      a blog by Chris Parsons
    %h1
      %a{:href => "{{ post.url }}"}
        {{ post.title }}

#post.row
  .col-sm-8
    %article.post.single-post
      .entry-content
        {{ post.content }}

        :plain
          {% include postscript.html %}

      .clr

      %section#comments
        <div id="disqus_thread"></div>
        :javascript
          var disqus_shortname = 'chrismdp';
          var disqus_identifier = '{{ post.id }}';
          (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();

  .sidebar.col-sm-4
    %p
      Posted {{ post.date | date: "%B %d, %Y" }}
    .widget
      %h4 Share this
      :plain
        {% include strap.html %}
    .widget
      %h4 Post Categories
      %ul.tags
        :plain
          {% for tag in post.categories %}<li><a class='tag' href='/tag/{{ tag }}/'>{{tag}}</a></li>{% endfor %}
    .widget
      %h4 Recent posts
      :plain
        {% for post in site.posts %}
        {% if forloop.index < 7 and forloop.index > 1 %}
        <p>
          <a href="{{ post.url }}">{{ post.title }}</a><br/><span class='text-muted'>{{ post.date | date_to_string }}</span>
        </p>
        {% endif %}
        {% endfor %}
    .widget
      :plain
        {% include kickstarter.html %}
    .widget
      :plain
        {% include hello.html %}
    .widget
      :plain
        {% include soltrader.html %}
    .widget
      :plain
        {% include cardpirates.html %}
    .widget
      :plain
        {% include twitch.html %}
    .widget
      %h4 More
      %ul.list-unstyled
        %li
          %i.icon-chevron-right
          %a{:href => '/all'} Archives
        %li
          %i.icon-chevron-right
          %a{:href => '/tags'} All Categories
