:plain
  ---
  layout: default
  title: Chris Parsons
  ---
  {% assign post = site.posts.first %}

.row
  .col-xs-12.page-header
    %p
      a blog by Chris Parsons
    %h1
      %a{:href => "{{ post.url }}"}
        {{ post.title }}

#post.row
  .col-sm-8
    %article.post.single-post
      .entry-content
        {{ post.content }}

        :plain
          {% include postscript.html %}

      .clr

      %section#comments
        <div id="disqus_thread"></div>
        :javascript
          function disqus_config() {
            this.page.url = 'http://chrismdp.com{{ post.url }}/';
            this.page.identifier = '{{ post.id }}/';
            this.page.title = "{{ post.title }}";
          };
          (function() { // DON'T EDIT BELOW THIS LINE
          var d = document, s = d.createElement('script');

          s.src = '//chrismdp.disqus.com/embed.js';

          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
          })();
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

  .sidebar.col-sm-4
    %p
      Posted {{  post.date | date: "%B %d, %Y" }}
    .widget
      %h4 Share this
      :plain
        {% include strap.html %}
    .widget
      %h4 Post Categories
      %ul.tags
        :plain
          {% for tag in post.categories %}<li><a class='tag' href='/tag/{{ tag }}/'>{{tag}}</a></li>{% endfor %}
    .widget
      :plain
        {% include hello.html %}
    .widget
      %h4 Recent posts
      :plain
        {% for post in site.posts %}
        {% if forloop.index < 7 and forloop.index > 1 %}
        <p>
          <a href="{{ post.url }}">{{ post.title }}</a><br/><span class='text-muted'>{{ post.date | date_to_string }}</span>
        </p>
        {% endif %}
        {% endfor %}
    .widget
      :plain
        {% include soltrader.html %}
    .widget
      :plain
        {% include twitch.html %}
    .widget
      %h4 More
      %ul.list-unstyled
        %li
          %i.icon-chevron-right
          %a{:href => '/all'} Archives
        %li
          %i.icon-chevron-right
          %a{:href => '/tags'} All Categories
