:plain
  ---
  layout: default
  title: Chris Parsons
  ---
  {% assign post = site.posts.first %}
.hero-unit
  %p
    a blog by Chris Parsons
  %h1
    %a{:href => "{{ post.url }}"}
      {{ post.title }}

%hr

#post.row
  .span8
    %article.post.single-post
      .entry-content
        {{ post.content }}

        %p
          %a{:href => "{{ site.posts.first.url }}#comments"} Click here
          to comment.

        :plain
          {% include postscript.html %}


  .sidebar.span4
    %p
      Posted {{ post.date | date: "%B %d, %Y" }}
    .widget
      %h4 Share this
      :plain
        {% include strap.html %}
    .widget
      :plain
        {% include twitch.html %}
    -#.widget
      -#:plain
        -#{% include kickstarter.html %}
    .widget
      %h4 Post Categories
      %ul.tags
        :plain
          {% for tag in post.categories %}<li><a class='tag' href='/tag/{{ tag }}/'>{{tag}}</a></li>{% endfor %}
    .widget
      %h4 Recent posts
      %ul.list-style
        :plain
          {% for post in site.posts %}
          {% if forloop.index < 7 and forloop.index > 1 %}<li><i class="icon-chevron-right"></i> <a href="{{ post.url }}">{{ post.title }}</a><br/><span class='muted'>{{ post.date | date_to_string }}</span></li>{% endif %}
          {% endfor %}
    .widget
      :plain
        {% include soltrader.html %}
    .widget
      :plain
        {% include cardpirates.html %}
    .widget
      %h4 Popular Categories
      %ul.tags
        :ruby
          require 'rubygems'
          require 'jekyll'
          puts "<!--"
          options = Jekyll.configuration({})
          site = Jekyll::Site.new(options)
          site.read_posts('')
          puts "-->"
          site.categories.sort.each do |category, posts|
            next if (posts.length <= 2)
            print "<li>"
            print "<a href=\"/tag/#{category.gsub(/\s+/,'%20')}/\">"
            print "#{category} (#{posts.length})</a>"
            print "</li>"
          end
    .widget
      %h4 More
      %ul.list-style
        %li
          %i.icon-chevron-right
          %a{:href => '/all'} Archives
        %li
          %i.icon-chevron-right
          %a{:href => '/tags'} All Categories
    .widget
      :plain
        {% include hello.html %}
