<div style="background-color: #efefef; border-radius: 8px; padding: 2em; margin: 20px 0; box-shadow: 0 2px 4px rgba(0,0,0,0.1);">
  <div style="display: flex; align-items: top; gap: 20px; flex-wrap: wrap;">
    <div style="flex: 1 1 0; min-width: 0;">
    <!-- Small screen photo -->
    <img alt='Chris Parsons' src='/assets/img/chris-headshot-2022-cropped.jpg' class='ai-newsletter-photo-mobile' style='display: none; width: 75%; max-width: 75%; border-radius: 8px; object-fit: cover; margin: 0 auto 1em auto;'/>
    <h2>Cut through the AI hype.</h2>
    <p>AI is changing the world, but there's a lot of misinformation out there.</p>

    <p>As a founder and CTO I've figured out what works now, and what's just noise. I'm applying AI to my own businesses with transformative results.</p>

    <p class="font-bold">Subscribe to transform yourself, your work and your outcomes with AI that actually works, in just a few minutes a week:</p>

    <script async data-uid="d90200305f" src="https://chrismdp.kit.com/d90200305f/index.js"></script>
    <small style="display: block; text-align: center;">No spam. Unsubscribe whenever.</small>
  </div>
    <!-- Large screen photo -->
    <img alt='Chris Parsons' src='/assets/img/chris-headshot-full.jpg' class='ai-newsletter-photo' style='width: 220px; border-radius: 8px; object-fit: cover; margin: 0'/>
  </div>
</div>