<div style="background-color: #efefef; border-radius: 8px; padding: 2em; margin: 20px 0; box-shadow: 0 2px 4px rgba(0,0,0,0.1);">
  <div style="display: flex; align-items: top; gap: 20px;">
    <div>
    <h2>Get ahead with AI.</h2>
    <p style="margin: 0;">AI has changed the world forever. New AI products come out every day. Everyone else seems to be moving fast and it's easy to feel left behind.<br><br>

    I've dedicated myself to learning the very latest AI tools and techniques and have used my experience as a founder and CTO of multiple businesses to separate out hype from what works now.<br><br>

    <strong>I've applied what I've learned so far to my own businesses, and it's transforming everything. It can for you too.</strong>

    <br/><br/>Sign up, and I'll send you more.

    <script async data-uid="d90200305f" src="https://chrismdp.kit.com/d90200305f/index.js"></script>

    <small style="display: block; text-align: center;">I'll never spam you (promise)<br/>and you can unsubscribe at any time.</small>
    </p>
  </div>
    <img alt='Chris Parsons' src='/assets/img/chris-headshot-full.jpg' style='width: 220px; border-radius: 8px; object-fit: cover; margin: 0'/>
  </div>
</div>