<div style="background-color: #efefef; border-radius: 8px; padding: 2em; margin: 20px 0; box-shadow: 0 2px 4px rgba(0,0,0,0.1);">
  <div style="display: flex; align-items: top; gap: 20px; flex-wrap: wrap;">
    <div style="flex: 1 1 0; min-width: 0;">
    <!-- Small screen photo -->
    <img alt='Chris Parsons' src='/assets/img/chris-headshot-2022-cropped.jpg' class='ai-newsletter-photo-mobile' style='display: none; width: 75%; max-width: 75%; border-radius: 8px; object-fit: cover; margin: 0 auto 1em auto;'/>
    <h2>Get ahead with AI.</h2>
    <p style="margin: 0;">AI has changed the world forever. Everyone else seems to be moving so fast. It's easy to feel left behind.<br><br>

    As a founder and CTO I've figured out what's hype, and what works now, applying AI to my own businesses with transformative results. Let me show you how:
    <script async data-uid="d90200305f" src="https://chrismdp.kit.com/d90200305f/index.js"></script>
    <small style="display: block; text-align: center;">No spam. Unsubscribe whenever.</small>
    </p>
  </div>
    <!-- Large screen photo -->
    <img alt='Chris Parsons' src='/assets/img/chris-headshot-full.jpg' class='ai-newsletter-photo' style='width: 220px; border-radius: 8px; object-fit: cover; margin: 0'/>
  </div>
</div>