<h4>Card Pirates</h4>

<a href='http://cardpirates.com?utm_source=chrismdp.com&utm_medium=sidebar-blog-ad&utm_campaign=chrismdp-sidebar-1&utm_content=image'>
  <img src='/files/card-pirates-square.png' style='float:left; width: 80px; padding: 0px 15px 0px 0px'>
</a>
<p>
  A fabulous little card game for 2 - 4 players. Free to play: you just need some playing cards and counters.
</p>
<p>
  <a href='http://cardpirates.com?utm_source=chrismdp.com&utm_medium=sidebar-blog-ad&utm_campaign=chrismdp-sidebar-1&utm_content=read-the-rules-link'>Read the rules</a>
</p>
