<h4>Check out: Card Pirates</h4>

<a href='http://cardpirates.com?utm_source=chrismdp.com&utm_medium=sidebar-blog-ad&utm_campaign=chrismdp-sidebar-1&utm_content=image'>
  <img src='/files/card-pirates-square.png' style='float:left; width: 80px; padding: 0px 15px 0px 0px'>
</a>
<p>
  A card game I designed for 2 - 4 players, coming soon for iPhone and iPad.
</p>
<p>
  <a href='http://cardpirates.com?utm_source=chrismdp.com&utm_medium=sidebar-blog-ad&utm_campaign=chrismdp-sidebar-1&utm_content=get-the-latest-link'>Get the latest info</a>
</p>
