<h4>Chris Parsons</h4>

<p><img alt='Chris Parsons' src='/images/chris_barca.png' style='float: right; width:100px; padding: 7px 0px 10px 20px'/></p>

<p>I am a programmer, writer and trainer. I consult in technical architecture and agile management, and I train and coach teams in <a href='/tag/agile'>agile</a>, <a href='/tag/bdd'>BDD</a>, <a href='/tag/testing'>automated testing</a>, <a href='/tag/craftsmanship'>clean code</a> and <a href='/tag/team'>great team practices</a>. I have also released the indie game <a href='http://soltrader.net'>Sol Trader</a>.</p>

<p>Clients have included large organisations such as the <a href='http://bbc.co.uk'>BBC</a> and <a href='http://www.cabinetoffice.gov.uk/'>Cabinet Office</a> (working at <a href='http://digital.cabinetoffice.gov.uk/about/'>GDS</a> on the new <a href='http://gov.uk'>GOV.UK</a> platform and the first version of <a href='/tag/e-petitions'>e-petitions</a>) as well as a number of startups.</p>

<p>I have spoken on <a href='/tag/ruby'>Ruby</a>, <a href='/tag/cucumber'>Cucumber</a>, <a href='/tag/bdd'>BDD</a>, <a href='tag/tdd'>TDD</a>, being agile, code quality and programmer education at conferences including Rubyconf, the Scottish Ruby Conference, and Software Craftsmanship North America and Software Craftsmanship UK.</p>

<p>If you'd like to me to work with your team then <a href='mailto:chris@thinkcodelearn.com'>get in touch</a>.</p>
