<h4>Chris Parsons</h4>

<p><img alt='Chris Parsons' src='/images/chris_2019.png' style='float: right; width:100px; padding: 7px 0px 10px 20px'/></p>

<p>Since the start of 2018 I've been the CTO of <a href='gower.st'>Gower Street Analytics</a>, a company doing data science and predictive analytics in the film business.</p>

<p>Before that I consulted in technical architecture and agile management, and I trained and coached teams in <a href='/tag/agile'>agile</a>, <a href='/tag/bdd'>BDD</a>, <a href='/tag/testing'>automated testing</a>, <a href='/tag/craftsmanship'>clean code</a> and <a href='/tag/team'>great team practices</a>. I was CEO of Eden Development, a client services company, from 2005 to 2011. I also released the indie game <a href='http://soltrader.net'>Sol Trader</a> in 2016, and still work on games as a side project.</p>

<p>Past clients have included large organisations such as the <a href='http://bbc.co.uk'>BBC</a> and <a href='http://www.cabinetoffice.gov.uk/'>Cabinet Office</a> (working at <a href='http://digital.cabinetoffice.gov.uk/about/'>GDS</a> on the new <a href='http://gov.uk'>GOV.UK</a> platform and the first version of <a href='/tag/e-petitions'>e-petitions</a>) as well as a number of startups.</p>

<p>You can find me on <a rel="me" href="https://mastodon.gamedev.place/@chrisparsons">the Fediverse</a> and on <a href='https://twitter.com/chrismdp'>Twitter</a>.</p>
