<div class='alert alert-success' role='alert'>
  <div class='clearfix' style='float:right; padding-left: 10px'>
    <!--<img src='/files/soltrader_icon_logo_big.png' style='width: 100px' alt='sol trader logo'><br/>-->
    <!--<img src='/files/sol-square-1.png' style='width: 100px; padding-bottom: 10px' alt='sol trader shot 1'><br/>-->
    <!--<img src='/files/sol-square-2.png' style='width: 100px; padding-bottom: 10px' alt='sol trader shot 2'><br/>-->
  </div>
  <div class='clearfix'>
    <p>
      <strong>Ealdorlight is now on Kickstarter!</strong>
      Use your connections to win the throne with intrigue or force. RPG with realistic damage and procedural storytelling for PC, Mac and Linux.
    </p>
    <p>
      <a class='btn btn-success' href='https://www.kickstarter.com/projects/chrismdp/460088710?token=b18de00d'>Visit Ealdorlight's Kickstarter Campaign</a>
    </p>
  </div>
</div>

<div class='alert alert-info' role='alert'>
  <div class='clearfix' style='float:right; padding-left: 10px'>
    <!--<img src='/files/soltrader_icon_logo_big.png' style='width: 100px' alt='sol trader logo'><br/>-->
    <!--<img src='/files/sol-square-1.png' style='width: 100px; padding-bottom: 10px' alt='sol trader shot 1'><br/>-->
    <!--<img src='/files/sol-square-2.png' style='width: 100px; padding-bottom: 10px' alt='sol trader shot 2'><br/>-->
  </div>
  <div class='clearfix'>
    <p>Check out my indie game <a href='http://soltrader.net'>Sol Trader</a>, an epic space action adventure. Be part of a living society you can befriend, understand and manipulate to your own ends.</p>

    <div class="createsend-button" style="height:27px;display:inline-block;" data-listid="r/5C/80A/494/1458D7D6C263FB37">
    </div><script type="text/javascript">(function () { var e = document.createElement('script'); e.type = 'text/javascript'; e.async = true; e.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://btn.createsend1.com/js/sb.min.js?v=3'; e.className = 'createsend-script'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(e, s); })();</script>

    <br/>
    <br/>
    <iframe src="http://store.steampowered.com/widget/396680/" frameborder="0" width="550" height="190"></iframe>
    <br/>
    <a class="twitter-follow-button"
      href="https://twitter.com/relevationga"
      data-show-count="true"
      data-lang="en">
      Follow
    </a>
    <script>window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));</script>
    <br/>
    <div class="fb-like" data-width='430' data-href="https://www.facebook.com/soltrader" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
    <br/>
  </div>
</div>

