<nav aria-label="Menu" class="flex">
   <div class="flex md:space-x-8 items-center w-full z-10 bg-white flex-wrap md:flex-row justify-center font-heading font-bold">
      <div class='flex gap-5 px-4 py-2'>
         <a href="/#services" class="text-brand-black hover:text-brand-deep-turquoise transition-colors whitespace-nowrap">Services</a>
         <a href="/articles" class="text-brand-black hover:text-brand-deep-turquoise transition-colors whitespace-nowrap">Articles</a>
      </div>

      <div class='flex flex-row space-x-3 px-4 py-2'>
         {% if site.linkedin %}
         <a href="https://linkedin.com/in/{{ site.linkedin }}" class="text-brand-black hover:text-brand-deep-turquoise transition-colors" title="LinkedIn">
            <span class="sr-only">LinkedIn</span>
            <svg role="img" class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
               <path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"/>
            </svg>
         </a>
         {% endif %}
         
         {% if site.bluesky %}
         <a href="https://bsky.app/profile/{{ site.bluesky }}" class="text-brand-black hover:text-brand-deep-turquoise transition-colors" title="BlueSky">
            <span class="sr-only">BlueSky</span>
            <svg role="img" class="w-5 h-5" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
               <path d="M12 2C6.477 2 2 6.477 2 12s4.477 10 10 10 10-4.477 10-10S17.523 2 12 2zm4.586 7.384c-.39-.39-1.023-.39-1.414 0L12 12.556 8.828 9.384c-.39-.39-1.024-.39-1.414 0s-.39 1.024 0 1.414L11.586 15c.39.39 1.024.39 1.414 0l4.172-4.172c.39-.39.39-1.024 0-1.414z"/>
            </svg>
         </a>
         {% endif %}
         
         {% if site.twitter %}
         <a href="https://x.com/{{ site.twitter }}" class="text-brand-black hover:text-brand-deep-turquoise transition-colors" title="X (Twitter)">
            <span class="sr-only">X (Twitter)</span>
            <svg role="img" class="w-5 h-5" viewBox="0 0 24 24" fill="currentColor">
               <path d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z"/>
            </svg>
         </a>
         {% endif %}
      </div>
   </div>
</nav>