<h4>Sol Trader (OUT NOW)</h4>

<a href='http://soltrader.net?utm_source=chrismdp.com&utm_medium=sidebar-blog-ad&utm_campaign=chrismdp-sidebar-3&utm_content=image'>
  <img src='/files/soltrader_icon_logo_big.png' style='float:left; width: 80px; padding: 0px 15px 0px 0px' alt='sol trader logo'>
</a>
<p>
  My 2D indie space game for PC and Mac: a thinking person's space sim inspired by Elite and Dwarf Fortress.
</p>
<p>
<a href='http://soltrader.net?utm_source=chrismdp.com&utm_medium=sidebar-blog-ad&utm_campaign=chrismdp-sidebar-3&utm_content=visit-homepage'>
    Visit homepage</a>
</p>
