<h4>Sol Trader (OUT NOW)</h4>

<a href='http://soltrader.net?utm_source=chrismdp.com&utm_medium=sidebar-blog-ad&utm_campaign=chrismdp-sidebar-3&utm_content=image'>
  <img src='/files/soltrader_icon_logo_big.png' style='float:left; width: 80px; padding: 0px 15px 0px 0px' alt='sol trader logo'>
</a>
<p>
  My 2D indie space game for PC and Mac: a thinking person's space sim inspired by Elite and Dwarf Fortress.
</p>
<div class="createsend-button" style="height:27px;display:inline-block;" data-listid="r/5C/80A/494/1458D7D6C263FB37">
</div><script type="text/javascript">(function () { var e = document.createElement('script'); e.type = 'text/javascript'; e.async = true; e.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://btn.createsend1.com/js/sb.min.js?v=3'; e.className = 'createsend-script'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(e, s); })();</script>
