<h4>Check out: Sol Trader</h4>

<a href='http://soltrader.net?utm_source=chrismdp.com&utm_medium=sidebar-blog-ad&utm_campaign=chrismdp-sidebar-2&utm_content=image'>
  <img src='/files/soltrader_icon_logo_big.png' style='float:left; width: 80px; padding: 0px 15px 0px 0px'>
</a>
<p>
  My 2D indie space game for PC and Mac: a thinking person's space sim inspired by Elite and Asteroids.
</p>
<p>
<a href='http://soltrader.net?utm_source=chrismdp.com&utm_medium=sidebar-blog-ad&utm_campaign=chrismdp-sidebar-2&utm_content=get-access-to-the-alpha'>
    Get access to the Alpha</a>
</p>
