<div class="bg-white rounded-lg p-8">
  <div class="flex items-center mb-4">
    <a href="http://www.linkedin.com/in/rob-bettles" target="_blank" style="text-decoration: none;" class="flex gap-4 items-center">
      <img src="https://media.licdn.com/dms/image/v2/C4E03AQEwod0NOT-dVg/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1516787318836?e=1759968000&v=beta&t=C8QAPyzSLQ2WEyJZy9D0cPvPVYFfnja3GlyXNa-O9EE" alt="Rob Bettles" class="w-16 h-16 rounded-full object-cover">
      <div>
        <div class="text-lg font-semibold text-brand-black">Rob Bettles</div>
        <div class="text-sm text-brand-black/70">Software Manager</div>
      </div>
    </a>
  </div>
  {% include five-star.html %}
  <p class="text-brand-black italic mb-4">
    "I thought the content was pitched at a very good level - interesting for people who have used AI before but not so complicated as to turn off people who are completely new to the field. I really enjoyed it and feel like I have some useful strategies now for using AI in my day-to-day work."
  </p>
</div>