<div class="bg-white rounded-lg p-8">
  <div class="flex items-center mb-4">
    <a href="https://linkedin.com/in/katiewelka" target="_blank" style="text-decoration: none;" class="flex gap-4 items-center">
      <img src="/assets/img/kate-welka.jpg" alt="Kate Welka" class="w-16 h-16 rounded-full object-cover">
      <div>
        <div class="text-lg font-semibold text-brand-black">Kate Welka</div>
        <div class="text-sm text-brand-black/70"></div>
      </div>
    </a>
  </div>
  {% include five-star.html %}
  <p class="text-brand-black italic mb-4">
    "I learned a lot about prompting that made me think differently about how to use AI. I feel I'm coming out of this workshop with a much more intelligent approach to using AI."
  </p>
</div>