<div class="bg-brand-white rounded-lg p-8">
  <div class="flex items-center mb-4">
    <a href="https://www.linkedin.com/in/vijaypawar2007/" target="_blank" style="text-decoration: none;" class="flex gap-4 items-center">
      <img src="/assets/img/testimonials/vijay-pawar.jpeg" alt="Vijay Pawar" class="w-16 h-16 rounded-full object-cover">
      <div>
        <div class="text-lg font-semibold text-brand-black">Vijay Pawar</div>
        <div class="text-sm text-brand-black/70">Senior Software Developer</div>
      </div>
    </a>
  </div>
  {% include five-star.html %}
  <p class="text-brand-black italic mb-4">
    "Well articulated."
  </p>
</div>
