<script type="text/javascript">
  function twitch(data) {
    $(document).ready(function() {
      $('#streaming').html("<b class='twitchLoading'>Querying twitch.tv...</b> <a href='http://www.twitch.tv/chrismdp_'>http://www.twitch.tv/chrismdp_</a>");
      if (data && data['stream']) {
        $("#streaming").html("<h4>CHRIS IS LIVE CODING <b>NOW</b> (" + data["stream"]["viewers"] + " WATCHING)</h4> <img src='/files/lightbulb_on.png' style='float:left; width: 48px; padding: 16px 31px 0px 15px'/> " + data['stream']['channel']['status'] + "<br/><br/><a id='watch_now' href='#'>Click to toggle video</a><div style='margin-top:15px' id='embedded_twitch_video'></div>");
        var show_video = false;
        $('#watch_now').click(function() {
          show_video = !show_video;
          if (show_video) {
            $('#embedded_twitch_video').html("<object type='application/x-shockwave-flash' height='225' width='300' id='live_embed_player_flash' data='http://www.twitch.tv/widgets/live_embed_player.swf?channel=chrismdp_' bgcolor='#000000'><param name='allowFullScreen' value='true' /><param name='allowScriptAccess' value='always' /><param name='allowNetworking' value='all' /><param name='movie' value='http://www.twitch.tv/widgets/live_embed_player.swf' /><param name='flashvars' value='hostname=www.twitch.tv&channel=chrismdp_&auto_play=true&start_volume=25' /></object><a href='http://www.twitch.tv/chrismdp_' style='padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px;text-decoration:underline; text-align:center;'>Watch live video from chrismdp_ on www.twitch.tv</a>");
          } else {
            $('#embedded_twitch_video').html("");
          }
        });
      } else {
        $("#streaming").html("<h4>NOT CURRENTLY LIVE CODING</h4> <img src='/files/lightbulb.png' style='float:left; width: 48px; padding: 16px 31px 0px 15px'/><a href='http://www.twitch.tv/chrismdp_'>Follow for notifications of new live coding sessions</a><br/><a href='https://www.youtube.com/watch?v=u2ZOfYEuRHI&list=PLGQLg2DFLiGiMOzv8gZpEGczM_O2B5iah'>View Sol Trader livestream archives on YouTube</a>");
      }
    });
  }
</script>
<script type='text/javascript' src='https://api.twitch.tv/kraken/streams/chrismdp_?callback=twitch'></script>
<div id='streaming'></div>
