:plain
  ---
  layout: default
  title: "Chris Parsons: all posts"
  ---
.hero-unit
  %p
    %a{:href => "{{ site.url }}" } a blog by Chris Parsons
  %h1
    all posts

%hr

#post.row
  .span8
    :plain
      {% for post in site.posts %}
        {% include post_list_entry.html %}
      {% endfor %}
