---
layout: page
title: Tags Index
permalink: /tags/
---

{% capture site_tags %}{% for tag in site.categories %}{% if tag %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endif %}{% endfor %}{% endcapture %}
{% assign tags_list = site_tags | split:',' | uniq %}

{% for tag in tags_list %}{% if tag %}<h3 id="{{ tag | replace: '/', '-' }}" class="linked-section">{{ tag | downcase }}</h3>
<div class="post-list" style="margin-bottom:40px">
    {% for post in site.categories[tag] %}<div class="tag-entry">
    <a href="{{- site.url -}}{{- post.url -}}">{{- post.title -}}</a>
    <time style="font-style:italic; float:right" datetime="{{- post.date | date_to_xmlschema -}}"> {{- post.date | date: "%B %d, %Y" -}}</time>
</div>{%- endfor -%}
</div>{% endif %}{%- endfor -%}
