<!doctype html>
<html lang=en-US class=h-full>
   {% include head.html %}

   <style>
      .formkit-form [data-style="clean"] {
          padding-top: 24px !important;
      }
  </style>

   <body class="docs relative w-full h-full antialiased text-gray-600">
      <header class="left-0 top-0 w-full bg-white z-50" role=banner>
         <div class="bg-white w-full max-w-screen-2xl mx-auto px-6 py-4 h-full flex sm:flex-row flex-col items-center justify-between text-navy">
            {% include logo-menu.html %}
            {% include social-menu.html %}
         </div>
      </header>
      <main role="main" data-menu-container class="w-full max-w-screen-2xl mx-auto px-4 sm:px-6 lg:px-8 md:py-20 py-12 relative">
         <div class="min-w-0 w-full max-w-3xl xl:max-w-[40rem] 2xl:max-w-3xl mx-auto">
            <article class="text-gray-500 leading-relaxed">
               {% if page.title %}<h1 class="w-full font-heading text-navy leading-tight text-[2rem] mb-6"> {{ page.title}} </h1>{% endif %}
               {{ content }}
            </article></div>
            <div class="hidden xl:block top-0 pt-36 pb-16 pl-0.5 w-60 h-full md:text-[13px] text-navy leading-5 docs-right-sidebar">
               <nav class="flex flex-col relative" id=toc>
                  <div class="scroll-indicator absolute left-0 -ml-px top-0 w-[3px] h-full bg-gray-300 transform scale-y-0 origin-top"></div>
                  <ul class="outline-list" id="TOC">
                     <!-- TOC will be appened here-->
                  </ul>
               </nav>
            </div>
         </div>
      </main>
      <script src="{{ site.baseurl }}/assets/js/docs.js"></script>
      <script src="{{ site.baseurl }}/assets/js/main.js"></script>
      <!-- RightMessage -->
      <script type="text/javascript"> 
         (function(p, a, n, d, o, b, c) {
         window.RM = window.RM || [];
         o = n.createElement('script'); o.type = 'text/javascript'; o.async = true; o.src = 'https://t.rightmessage.com/'+p+'.js';
         b = n.getElementsByTagName('script')[0]; d = function(h, u, i) { var c = n.createElement('style'); c.id = 'rmcloak'+i;
               c.type = 'text/css'; c.appendChild(n.createTextNode('.rmcloak'+h+'{visibility:hidden}.rmcloak'+u+'{display:none}'));
               b.parentNode.insertBefore(c, b); return c; }; c = d('', '-hidden', ''); d('-stay-invisible', '-stay-hidden', '-stay');
         setTimeout(o.onerror = function() { c.parentNode && c.parentNode.removeChild(c); }, a); b.parentNode.insertBefore(o, b);
         })('481724109', 20000, document);
         </script>
   </body>
</html>
