:plain
  ---
  layout: default
  ---

.row
  .col-xs-12.page-header
    %p
      %a{:href => "{{ site.url }}" } a blog by Chris Parsons
    %h1 {{ page.title }}

#post.row
  .col-sm-8
    %article.post.single-post
      .entry-content
        {{ content }}

        :plain
          {% include postscript.html %}

      .clr

      %section#comments
        <div id="disqus_thread"></div>
        :javascript
          var disqus_config = function() {
            this.page.url = "http://chrismdp.com{{ page.url }}";
            this.page.identifier = '{{ page.id }}';
          };
          (function() { // DON'T EDIT BELOW THIS LINE
          var d = document, s = d.createElement('script');

          s.src = '//chrismdp.disqus.com/embed.js';

          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
          })();

  .sidebar.col-sm-4
    %p
      Posted {{ page.date | date: "%B %d, %Y" }}
    .widget
      %h4 Share this
      :plain
        {% assign post = page %}
        {% include strap.html %}
    .widget
      :plain
        {% include kickstarter.html %}
    .widget
      %h4 Post Categories
      %ul.tags
        :plain
          {% for tag in page.categories %}<li><a class='tag' href='/tag/{{ tag }}/'>{{tag}}</a></li>{% endfor %}

    .widget
      %h4 Related posts
      :plain
        {% for post in site.related_posts limit:5 %}
        <p>
          <a href="{{ post.url }}">{{ post.title }}</a><br/>
          <span class='text-muted'>{{ post.date | date_to_string }}</span>
        </p>
        {% endfor %}
    .widget
      :plain
        {% include hello.html %}
    .widget
      :plain
        {% include soltrader.html %}
    .widget
      :plain
        {% include cardpirates.html %}
    .widget
      :plain
        {% include twitch.html %}
    .widget
      %h4 More
      %ul.list-unstyled
        %li
          %i.icon-chevron-right
          %a{:href => '/all'} Archives
        %li
          %i.icon-chevron-right
          %a{:href => '/tags'} All Categories
