:plain
  ---
  layout: default
  ---

.hero-unit
  %p
    %a{:href => "{{ site.url }}" } a blog by Chris Parsons
  %h1 {{ page.title }}

%hr

#post.row
  .span8
    %article.post.single-post
      .entry-content
        {{ content }}

        :plain
          <div class='alert alert-info'>
          <h5>Like what you've read?</h5>

          <p>Get a kick start in BDD with three days of teaching and coaching from two BDD giants: Matt Wynne and Aslak Hellesøy. Come to <a style='text-decoration: underline' href='http://kickstartacademy.io/courses/bdd-kickstart'>BDD Kickstart</a> in London on April 29th - May 1st 2014.
          </p>
          <p>
          <a style='text-decoration: underline' href='http://kickstartacademy.io/dates/bdd-london'>Tickets available here.</a></p>
          </div>

      .clr

      %section#comments
        :plain
          <div id="disqus_thread"></div><script type="text/javascript" src="http://disqus.com/forums/chrismdp/embed.js"></script><noscript><a href="http://disqus.com/forums/chrismdp/?url=ref">View the discussion thread.</a></noscript><a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>

  .sidebar.span4
    %p
      Posted {{ page.date | date: "%B %d, %Y" }}
    .widget
      %h4 Share this
      :plain
        {% assign post = page %}
        {% include strap.html %}
    .widget
      %h4 Post Categories
      %ul.tags
        :plain
          {% for tag in page.categories limit: 4 %}<li><a class='tag' href='/tag/{{ tag }}/'>{{tag}}</a></li>{% endfor %}

    .widget
      %h4 Related posts
      %ul.list-style
        :plain
          {% for post in site.related_posts limit:5 %}
            <li><i class="icon-chevron-right"></i> <a href="{{ post.url }}">{{ post.title }}</a><br/><span class='muted'>{{ post.date | date_to_string }}</span></li>
          {% endfor %}
    .widget
      :plain
        {% include soltrader.html %}
    .widget
      :plain
        {% include cardpirates.html %}
    .widget
      %h4 More
      %ul.list-style
        %li
          %i.icon-chevron-right
          %a{:href => '/all'} Archives
        %li
          %i.icon-chevron-right
          %a{:href => '/tags'} All Categories

    .widget
      :plain
        {% include hello.html %}
