---
layout: page
---
<div class="flex flex-col justify-between" style='padding-bottom: 12px'>

  <!-- <div style='opacity: 0.7; padding-bottom: 12px; max-width: 75%'>{% if page.categories %}{% for badge in page.categories %}<span style="opacity: 0.6; font-size:12px;{% if badge.color %}background-color:{{ badge.color }}{% endif %}" class="inline-flex items-center justify-center px-4 py-1 mr-2 text-xs font-bold leading-none text-violet-100 bg-violet-600 rounded{% if site.badge_rounded %}-full{% endif %}"><a style="cursor:pointer; color:white" href="{{ site.url }}{{ site.baseurl }}/tags#{{ badge | replace: ' ', '-' }}">{{ badge }}</a></span>{% endfor %}{% endif %}</div> -->
{% assign original_date = page.path | split: "/" | last | split: "-" | slice: 0, 2 | join: '' %}
{% assign current_date = page.date | date: "%Y%m" %}
{% if original_date != current_date %}
  <div style="font-style: italic;">Updated: {{ page.date | date: "%B %Y" }}</div>
{% else %}
  <div style="font-style: italic;">{{ page.date | date: "%B %Y" }}</div>
{% endif %}
</div>
{% assign content_parts = content | split:'<!--more-->' %}

{% if page.image %}
  {% if page.image_portrait %}
    <img alt='image for {{ page.title }}' src='{{ page.image }}' class='rounded-lg' style='float: right; border-radius: 12px; margin:0 0 24px 24px; width:50%'/>
  {% else %}
    <img alt='image for {{ page.title }}' src='{{ page.image }}' class='rounded-lg'/>
  {% endif %}
{% endif %}

{{ content_parts[0] }}

<div style="clear: both;"></div>

{% if content_parts.size > 1 %}
  {{ content_parts[1] }}
{% endif %}

{% include ai-newsletter-short.html %}

{% if page.categories contains "sol trader" %}
<br/>
<div class='flex justify-center'>
  <iframe src="https://store.steampowered.com/widget/396680/" frameborder="0" width="100%" height="190"></iframe>
</div>
{% endif %}

<div class='py-8'>

  <div class=''>
    <span class="share-bluesky">
      <a class='flex flex-row' target="_blank" title="Share on Bluesky"
        href="https://bsky.app/intent/compose?text={{ page.title }}%20{{ site.url }}{{ page.url }}">
        <svg width="1em" height="1em" fill="#fff" viewBox="0 0 600 530" xmlns="http://www.w3.org/2000/svg">
          <path
            d="m135.72 44.03c66.496 49.921 138.02 151.14 164.28 205.46 26.262-54.316 97.782-155.54 164.28-205.46 47.98-36.021 125.72-63.892 125.72 24.795 0 17.712-10.155 148.79-16.111 170.07-20.703 73.984-96.144 92.854-163.25 81.433 117.3 19.964 147.14 86.092 82.697 152.22-122.39 125.59-175.91-31.511-189.63-71.766-2.514-7.3797-3.6904-10.832-3.7077-7.8964-0.0174-2.9357-1.1937 0.51669-3.7077 7.8964-13.714 40.255-67.233 197.36-189.63 71.766-64.444-66.128-34.605-132.26 82.697-152.22-67.108 11.421-142.55-7.4491-163.25-81.433-5.9562-21.282-16.111-152.36-16.111-170.07 0-88.687 77.742-60.816 125.72-24.795z" />
        </svg>
        <span class='ml-2 text-xs'>BlueSky</span>
      </a>
    </span>
    <style>
      span.share-bluesky {
        display: inline-block;
        text-align: center;
        border-radius: 1em;
        background: #1185fe;
        color: white;
        font-weight: bold;
        padding: 0.3em 0.7em;
      }

      span.share-bluesky>svg {
        margin: 2em;
        fill: #fff;
        width: 1em;
        height: 1em;
        padding: 0.2em;
      }
    </style>
  </div>

  <div class="pb-2">
    <script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
    <script type="IN/Share" data-url="{{ site.url }}{{ page.url }}"></script>
  </div>
  <div class="pb-2">
    <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text={{ page.title }}%20{{ site.url }}{{ page.url }}">Post on X</a>
  </div>

  <script>window.twttr = (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0],
      t = window.twttr || {};
    if (d.getElementById(id)) return t;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);

    t._e = [];
    t.ready = function(f) {
      t._e.push(f);
    };

    return t;
  }(document, "script", "twitter-wjs"));</script>
</div>

<hr/>

<div>
  {% assign related_posts = "" %}
  {% for tag in page.categories %}
    {% assign tag_posts = site.categories[tag] %}

    {% assign oldest_date = page.date | date: "%s" | minus: 157680000 | date: "%Y-%m-%d" %}

    {% for post in tag_posts %}
    {% assign post_date = post.date | date: "%Y-%m-%d" %}
    {% if post.id != page.id and post_date >= oldest_date %}
        {% assign related_posts = related_posts | append: post.id | append: "," %}
      {% endif %}
    {% endfor %}
  {% endfor %}

  {% assign related_posts_count = related_posts | split: "," | size %}
  {% if related_posts_count > 0 %}
    <h2>More articles</h2>

    {% assign related_posts_array = related_posts | split: "," | uniq %}
    {% for post_id in related_posts_array limit: 5 %}
      {% assign post = site.posts | where: "id", post_id | first %}

      <div class="post-preview py-4">
        <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>

        <div style='font-style: italic' class="pb-1 post-date">
          {% assign original_date = post.path | split: "/" | last | split: "-" | slice: 0, 2 | join: '' %}
          {% assign current_date = post.date | date: "%Y%m" %}
          {% if original_date != current_date %}Updated: {% endif %}
          {{ post.date | date: "%B %Y" }}
        </div>
        {{ post.excerpt }}
        <a class='underline' href="{{ site.baseurl }}{{ post.url }}">Read more</a>
        <div style="clear: both;"></div>
      </div>
    {% endfor %}
  {% endif %}
</div>

<br/>

{% include ai-newsletter-short.html %}